@custom-media --smartphone (width <= 767px);
@custom-media --desktop (width >= 767px);
@custom-media --widedesktop (width >= 940px);

:root {
    --content-var: "SMARTPHONE";
    --keep-vars: 50px;
  }

.more-than-one-selector .in-media {
    content: "SMARTPHONE";
  }

@media (max-width: 1100px) {
  .should-always-be-in-file {
    display: none;
  }
}

.btn-close--disclaimer {
  height: 44px;
  line-height: 44px;
  width: 44px;
  width: 145px;
}

.another-desktop {
  /**
  * Should be in all outputs
  */
  height: var(--keep-vars);
}

.another-smartphone {
  /**
  * Should be in all outputs
  */
  height: var(--keep-vars);
}

.another-tablet {
  /**
  * Should be in all outputs
  */
  height: var(--keep-vars);
}

.only-for-smartpone {
  content: var(--content-var);
  height: 50px;
}
